@model Review  
    <link rel="stylesheet" href="~/css/Review.css">
        <div class="container gap100">
            <div class="col-xs-12 col-sm-12 col-md-3 sticky">
                <div class="sidebar">
                    <div id="sidebar-wrapper">
                        <ul style="background-color: #ffdd00;">
                            <li style="font-size: 17px; color: white; padding: 0.5em 0em">Get a Free Estimate</li>
                        </ul>
                        <ul class="borderbottom">
                            <li class="bold">(206) 430-4773</li>    
                            <li class="bold">Imbapainting@gmail.com</li>  
                        </ul>
                        <ul class="borderbottom">
                            <li>13026 23rd ave S</li>
                            <li>Seatac, WA 98168</li>
                        </ul>
                        <ul>
                            <span class="bold" style="font-size: large;">Area Served:</span>
                            <li>Bellevue, WA</li>
                            <li>Kirkland, WA</li>
                            <li>Redmond, WA</li>
                            <li>Renton, WA</li>
                            <li>Seatac, WA</li>
                            <li>More Areas Served</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-9">
                <div class="container text-center">
                    <img class="col-9" src="https://raw.githubusercontent.com/Ambroza888/Python_proj/master/apps/paint/static/my_apps/images/rating.jpg" alt="">
                    <section id="Reviews" class="text-center gap100">
                        <h1 class="colorblue">Reviews</h1>
                        @if(ViewBag.all_reviews != null)
                        {
                            @foreach (Review i in @ViewBag.all_reviews)
                            {
                            <div class="row mt-5 notViewed animBlock" data-offset="60" data-position="left">
                                <div class="col-md-2">
                                    <img src="https://standaloneinstaller.com/upload/avatar.png" alt="">
                                </div>
                                <div class="col-md-10">
                                    <div class="row underscore">
                                    <div class="col-12 align-self-center text-center">
                                            <p class="pb-4 test">@i.Text</p>
                                    </div>
                                        <div class="col-6 text-left">
                                            <small class="smallp">@i.FirstName @i.LastName | @i.Area</small>
                                            <p><small>@i.CreatedAt.ToString("MMM dd, yyyy")</small></p>
                                        </div>
                                        <div class="col-6 text-right">
                                            @if(@i.Rating == 1)
                                                {
                                                    <span class="fa fa-star"></span>
                                                    <span class="fa fa-star notchecked"></span>
                                                    <span class="fa fa-star notchecked"></span>
                                                    <span class="fa fa-star notchecked"></span>
                                                    <span class="fa fa-star notchecked"></span>
                                                }
                                            @if(@i.Rating == 2)
                                                {
                                                    <span class="fa fa-star"></span>
                                                    <span class="fa fa-star"></span>
                                                    <span class="fa fa-star notchecked"></span>
                                                    <span class="fa fa-star notchecked"></span>
                                                    <span class="fa fa-star notchecked"></span>
                                                }
                                            @if(@i.Rating == 3)
                                                {
                                                    <span class="fa fa-star"></span>
                                                    <span class="fa fa-star"></span>
                                                    <span class="fa fa-star"></span>
                                                    <span class="fa fa-star notchecked"></span>
                                                    <span class="fa fa-star notchecked"></span>
                                                }
                                            @if(@i.Rating == 4)
                                                {
                                                    <span class="fa fa-star"></span>
                                                    <span class="fa fa-star"></span>
                                                    <span class="fa fa-star"></span>
                                                    <span class="fa fa-star"></span>
                                                    <span class="fa fa-star notchecked"></span>
                                                }
                                            @if(@i.Rating == 5)
                                                {
                                                    <span class="fa fa-star"></span>
                                                    <span class="fa fa-star"></span>
                                                    <span class="fa fa-star"></span>
                                                    <span class="fa fa-star"></span>
                                                    <span class="fa fa-star"></span>
                                                }
                                        </div>
                                    </div>    
                                </div>
                            </div>
                            }
                        }
                        <div class="row mt-5">
                            <div class="col-12 text-left">
                                <h3>Write a Review</h3>
                                <form action="/CreateReview" class="mt-4" method="POST">
                                    <h5>Comment</h5>
                                    <span asp-validation-for="Text"></span>
                                    <textarea class="form-control" required="required" rows="8" asp-for="Text"></textarea>
                                    <div class="row mt-2">
                                        <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
                                            <p><span asp-validation-for="FirstName"></span></p>
                                            <p><input asp-for="FirstName" placeholder="First Name*"></p>
                                        </div>
                                        <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
                                            <p><span asp-validation-for="LastName"></span></p>
                                            <p><input asp-for="LastName" placeholder="Last Name*"></p>
                                        </div>
                                        <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
                                            <p><span asp-validation-for="Area"></span></p>
                                            <p><input asp-for="Area" placeholder="Area*"></p>
                                        </div>
                                        <div class="col-xs-12 col-sm-12 col-md-2 col-lg-2">
                                            <p><span asp-validation-for="Rating"></span></p>
                                            <select asp-for="Rating">
                                                <option value="0">Rating</option>
                                                <option value="1">1 Star</option>
                                                <option value="2">2 Stars</option>
                                                <option value="3">3 Stars</option>
                                                <option value="4">4 Stars</option>
                                                <option value="5">5 Stars</option>
                                            </select>
                                        </div>
                                    </div>
                                    <button class="btn btn-primary btn-xl">Submit Review</button>
                                </form>
                            </div>
                        </div>
                    </section>
                </div>
            </div>
        </div>